/* CSS for the demo */
img{
	border:0px;
}

#MySplitter {
	border: 3px solid #669;
	min-width: 500px;	/* Splitter can't be too thin ... */
	min-height: 300px;	/* ... or too flat */
	height: 100%;
}
#MySplitter .Pane {
	overflow: auto;
}

/* Splitbar styles; these are the default class names */

.vsplitbar {
	width: 6px;
	background: #669 url(../lib/splitter/vgrabber.gif) no-repeat center;
}
.vsplitbar:hover, .vsplitbar.active {
	background: #c66 url(../lib/splitter/vgrabber.gif) no-repeat center;
	opacity: 0.7;
	filter: alpha(opacity=70); /* IE */
}
.hsplitbar {
	height: 6px;
	background: #669 url(../lib/splitter/hgrabber.gif) no-repeat center;
}
.hsplitbar.active, .hsplitbar:hover {
	background: #c66 url(../lib/splitter/hgrabber.gif) no-repeat center;
	opacity: 0.7;
	filter: alpha(opacity=70); /* IE */
}